
@media(max-width: 1280px) {
    
    .navbar {
        font-size: 18px;
        padding: 18px;
    }
    
    .navbar p {
        margin-left: 18px;
    }
    
    nav ul {
        gap: 25px;
    }
    
    nav ul li{
        margin-right: 18px;
    }
    
    .search-input {
        font-size: 14px;
    }
    
    .search-button {
        font-size: 14px;
    }
    
    .section p {
        line-height: 24px;
    }
    
    .section ul li {
        line-height: 22px;
    }
    
    }
    
    @media(max-width: 520px){
        .navbar {
            font-size: 15px;
        }
        
        .navbar p {
            margin-left: 12px;
        }
        
        nav ul {
            gap: 12px;
        }
        
        nav ul li{
            margin-right: 12px;
        }
    
        .search-input {
            font-size: 12px;
            padding: 8px 15px;
        }
        
        .search-button {
            font-size: 13px;
        }
    
        .section h2 {
            font-size: 22px;
        }
    
    }
    