<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o site</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsividade.css">
</head>

<body>
    <header class="navbar">
        <p><strong>Sobre o site</strong><p>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="sobre.html">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="section">
            <h2>Propósito</h2>
            <p>
                O propósito deste projeto é desenvolver um site dinâmico e interativo que utilize a News API para
                fornecer as últimas notícias em tempo real.
                O site tem como objetivo permitir que os usuários acompanhem eventos e acontecimentos de diversas áreas,
                oferecendo uma plataforma moderna e acessível para facilitar o acesso às informações atualizadas.
            </p>
        </section>

        <section class="section">
            <h2>Tecnologias e metodologias utilizadas</h2>
            <p>
                Para o desenvolvimento deste site, foi utilizado às seguintes tecnologias e metodologias:
            </p>
            <ul>
                <li><strong>HTML5</strong> – Para estruturação do conteúdo;</li>
                <li><strong>CSS3</strong> – Para estilização e layout responsivo;</li>
                <li><strong>React</strong> – Para o consumir da API;</li>
                <li><strong>Git</strong> – Para controle de versão e colaboração;</li>
                <li><strong>GitHub</strong> – Para hospedagem e versionamento do código;</li>
                <li><strong>Canva</strong> – Para criação do protótipo do site;</li>
                <li><strong>Trello</strong> – Para o gerenciamento de tarefas;</li>
                <li><strong>Paines Kanban</strong> – Para definições de tarefas;</li>
                <li><strong>Pair programming</strong> – Para auxiliar em dúvidas;</li>
                <li><strong>Daily Scrum</strong> – Para reuniões diárias de alinhamento e identificação de impedimentos
                na equipe.</li>
            </ul>
        </section>

    </main>
</body>

</html>